@import url('https://fonts.googleapis.com/css?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li {
    list-style: none;
}


/* Start of Slider */
.slider {
    width: 100%;
    border-top: 1px solid #eee;
    position: relative;
    overflow: hidden;
}

.slider::before {
    content: "";
    height: 90px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-image: url(../images/beforeTop.png);
    background-position: right top;

}

.slider::after {
    content: "";
    width: 100%;
    height: 90px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-image: url(../images/afterBottom.png);
    background-position: right bottom;
}

.slider .owl-carousel {
    height: 100%;
}

/* End of Slider */


/* Beginnig of Section */
.section-text {
    padding: 40px 45px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.section-text p {
    font-size: 1.1em;
    line-height: 30px;
}

.blog {

    border: 1px solid #eee;
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 40px;
}

.wrapper {
    height: 370px;
    width: 100%;
    position: relative;
}

.wrapper:after {
    content: "";
    position: absolute;
    height: 150px;
    width: 220px;
    right: 0;
    background: url(../images/section2right.png);
    z-index: 4;
}

/* Starting of Left Content */
.blog .blog-icons {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    padding-top: 10px;
}

.blog .blog-icons p {
    display: block;
    text-align: left;
    font-size: 1.2em;
    color: rgb(101, 101, 101);
    cursor: pointer;
    transition: all .3s ease;
    margin: 0;
}

.blog .blog-icons p:hover span {
    color: rgb(121, 195, 215);
}

.blog .blog-icons p:hover i {
    color: rgb(59, 59, 59);
}

.blog .blog-icons p i {
    margin-right: 20px;
    margin-top: 10px;
}

.wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/section2bottom.png);
    height: 55px;
    width: 100%;
}

.wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.blog-content h1,
.blog-content button {
    font-family: "zeyada";
}

.blog-content h5 {
    color: rgb(121, 195, 215);
    cursor: pointer;
}

.blog-content h1 {
    font-size: 3em;
    cursor: pointer;
}

.blog-content button {
    font-size: 1.8em;
    color: white;
    background: rgb(121, 195, 215);
    border: none;
    outline: none;
    padding: 10px 30px 5px 30px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;

}

.blog-content button:hover {
    background: rgb(92, 189, 216);

}

/* End of Left Content */
/* End of Section */

