@import url('https://fonts.googleapis.com/css?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

/* Beginnig of Section */
section {
    margin-top: 100px;
}

/* Starting of Left Content */
.left #about {
    padding: 80px 40px 50px;
    border: 1px solid #eee;
    position: relative;
}

.left #about h1 {
    display: inline-block;
    color: rgb(121, 195, 215);
    font-family: "zeyada";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3%;
    background: white;
    padding: 0 15px;
}

.left #about>p:nth-child(2)  {
   line-height: 2.5em;
}
/* End of Left Content */
/* End of Section */
